*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.beach img{
    margin-left: 550px;
    margin-bottom: 20px;
}
.beach{
    margin-top: 20px;
    margin-bottom: 20px;
}
.m img{
    margin-left: 550px;
    margin-bottom: 20px;
}
.m{
    margin-top: 20px;
}
.m h1{
    text-align: center;
    margin-top: 10px;
}